body {
  background-color: #E5E5E5;
  color: #20D327;
}
li {
  margin-right: 32px;
}
img {
  width: 600px;
  margin: 28px 0 0 28px;
  border: 24px solid white;
  float: right;
  box-shadow: 10px 10px 15px #888888;
}
